<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Regression Suite">
<test name="VerifyLoginWithIncorrectCredentials">
<classes>
<class name="com.automation.pageobject.homepage.VerifyLoginWithIncorrectCredentials">
</class>
<class name="com.automation.pageobject.homepage.VerifyCreateAccountbutton">
</class>
</classes>

</test>
</suite>